.main_wrapper {
  padding: 7rem 36rem 0rem 36rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background: #f0f6ff;
}

.main_title {
  color: #000;
  font-family: var(--Pretendard-Regular);
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  text-align: center;
}

.main_title span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
